<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="padding-top: 6rem"
    class="d-flex pb-5 justify-content-center items-start text-light position-relative"
  >
    <%- include('./partials/navbar') %>
    <div class="container rounded-3 p-4 bg-dark shadow-lg">
      <% if (locals.games && locals.games.length <= 0) { %>
      <h1>No games were added yet</h1>
      <% } else { %>
      <h2 class="w-100 text-start mb-5"><%= locals.header %></h2>
      <div
        class="row row-cols-auto gap-5 d-flex align-items-center justify-content-center"
      >
        <% locals.games.forEach(game => { %>
        <div
          style="width: 212px; height: 300px"
          class="card col p-2 shadow-lg overflow-auto"
        >
          <div class="card-body">
            <h5 class="card-title"><%= game.name %></h5>
            <p class="card-text"><%= game.developer %></p>
            <p class="card-text"><%= game.genre_name || 'No genre provided' %></p>
          </div>
          <a href="/game/update/<%= game.id %>" class="btn btn-primary"
            >Update</a
          >
          <form action="/game/delete/<%= game.id %>" method="POST">
            <button
              type="submit"
              class="btn btn-danger mt-2 w-100"
              onclick='return confirm("Are you sure you want to delete this game?")'
            >
              Delete
            </button>
          </form>
        </div>
        <% }); %>
      </div>
      <% } %>
    </div>
  </body>
</html>
