<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body
    style="padding-top: 6rem"
    class="pb-5 d-flex flex-column justify-content-center align-items-center position-relative"
  >
    <%- include('./partials/navbar') %> <% if (locals.game) { %>
    <form
      style="max-width: 430px; width: 100%"
      action="/game/update/<%= locals.game.id %>"
      method="POST"
      class="card bg-dark shadow-lg p-4"
    >
      <h1 class="card-header text-light text-center">
        Update <%= locals.game.name %>
      </h1>

      <div class="input-group mt-3">
        <label for="game-name" class="input-group-text">Name</label>
        <input
          name="game_name"
          id="game-name"
          class="form-control"
          placeholder="World of Warcraft..."
          type="text"
          value='<%= errors.find(err => err.path === "game_name") ? errors.find(err => err.path === "game_name").value : locals.game.name %>'
        />
      </div>
      <div class="input-group mt-3">
        <label for="developer" class="input-group-text">Developer</label>
        <input
          name="developer"
          id="developer"
          class="form-control"
          placeholder="Blizzard..."
          type="text"
          value='<%= errors.find(err => err.path === "developer") ? errors.find(err => err.path === "developer").value : locals.game.developer %>'
        />
      </div>

      <div class="input-group mt-3">
        <label for="genre" class="input-group-text">Genre</label>
        <select class="form-select form-select-sm" name="genre_id" id="genre">
          <option
            value="<%= locals.genres.find(g => g.id === locals.game.genre_id) ? locals.genres.find(g => g.id === locals.game.genre_id).id : 'null' %>"
            selected
          >
            <%= locals.genres.find(g => g.id === locals.game.genre_id) ? locals.genres.find(g => g.id === locals.game.genre_id).name : 'No genre provided' %>
          </option>
          <% locals.genres.forEach(genre => { %>
          <option value="<%= genre.id === game.genre_id ? 'null' : genre.id %>"><%= genre.id === game.genre_id ? 'Select a genre' : genre.name %></option>
          <% }) %>
        </select>
      </div>

      <%- include('./partials/errors') %>

      <button
        id="submit-button"
        type="submit"
        class="btn btn-primary shadow-lg mt-4"
      >
        Update
      </button>
      <a href="/" class="btn btn-light mt-3">Back home</a>
    </form>
    <% } else { %>
    <h1 class="card-header text-light text-center">No game was loaded</h1>
    <a href="/" class="btn btn-light mt-3">Back home</a>
    <% } %>
  </body>
</html>
